.composition--side-by-side {
  display: flex;
}
.composition > *:nth-child(4n+1) {
  background: red;
}
.composition > *:nth-child(4n+2) {
  background: green;
}
.composition > *:nth-child(4n+3) {
  background: cyan;
}
.composition > *:nth-child(4n+4) {
  background: orange;
}

.route-out {
  transition: all 150ms ease-in-out;
  opacity: 0;
}
div[x-router] > * {
  animation: route-in-animate 150ms ease-in-out;
}
@keyframes route-in-animate {
  from {
    transform: opacity(0);
    opacity: 0;
  }
  to {
    transform: opacity(1);
    opacity: 1;
  }
}
