.composition--side-by-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.composition > *:nth-child(4n+1) {
  background: hsl(105, 100%, 85%);
}
.composition > *:nth-child(4n+2) {
  background: hsl(227, 100%, 85%);
}
.composition > *:nth-child(4n+3) {
  background: hsl(316, 100%, 85%);
}
.composition > *:nth-child(4n+4) {
  background: hsl(48, 100%, 85%);
}

.route-out {
  transition: all 150ms ease-in-out;
  opacity: 0;
}
div[x-router] > * {
  animation: route-in-animate 150ms ease-in-out;
}
@keyframes route-in-animate {
  from {
    transform: opacity(0);
    opacity: 0;
  }
  to {
    transform: opacity(1);
    opacity: 1;
  }
}
