.composition--side-by-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fragment-0 {
  background: red;
}
.fragment-1 {
  background: green;
}
.fragment-2 {
  background: cyan;
}
.fragment-3 {
  background: orange;
}

.route-out {
  transition: all 150ms ease-in-out;
  opacity: 0;
}
div[x-router] > * {
  animation: route-in-animate 150ms ease-in-out;
}
@keyframes route-in-animate {
  from {
    transform: opacity(0);
    opacity: 0;
  }
  to {
    transform: opacity(1);
    opacity: 1;
  }
}
